.inputWrapper {
    overflow: hidden;
    position: relative;
    cursor: pointer !important;
    /* background-color: #DDF;Using a background color, but you can use a background image to represent a button*/
    
}
.inputWrapper:hover {
	cursor: pointer !important;
}
.fileInput {
    cursor: pointer !important;
    height: 100%;
    position:absolute;
    top: 0;
    right: 0;
    z-index: 99;
    /*This makes the button huge. If you want a bigger button, increase the font size*/
    font-size:50px;
    /*Opacity settings for all browsers*/
    opacity: 0;
    -moz-opacity: 0;
    filter:progid:DXImageTransform.Microsoft.Alpha(opacity=0) important;
}
.fileInput:hover {
	cursor: pointer !important;
}